.references {
  background: linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6)) , url(../Img/Reference/Reference-Original.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.references__container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.references__span {
  display: inline-block;
  font-family: $-titulo;
  font-size: 9.6rem;
  position: absolute;
  color: rgba($-Fondo-blanco , .9);
  top: 29%;
  left: 50%;
  transform: translate(-50% , -20%);
  -webkit-transform: translate(-50% , -20%);
  -moz-transform: translate(-50% , -20%);
  -ms-transform: translate(-50% , -20%);
  -o-transform: translate(-50% , -20%);
}

.references__text {
  font-family: $-texto-cuerpo;
  font-size: 1.4rem;
  line-height: 1.5;
}

.references__tittle {
  font-family: $-titulo;
  font-size: 1.6rem;
  padding-top: .4rem;
  font-weight: 400;
}

.references__stars {
  padding-top: 1rem;

  .icon-start {
    font-size: 1.8rem;
    color: goldenrod;

    &:not(:last-of-type) {
      padding-right: .2rem;
    }
  }
}
