.tittle {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-family: $-titulo;
  font-weight: 700;
  letter-spacing: 1.2rem;
  margin-bottom: $mb;
  background: linear-gradient($-Fondo-blanco, $-Fondo-claro);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.tittle-3 {
  margin-bottom: $mb-medium;
  font-family: $-texto-cuerpo;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: linear-gradient($-Texto, $-Fondo-blanco);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: $mb-medium;
}