.tittle {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-family: $-titulo;
  font-weight: 700;
  letter-spacing: 1.2rem;
  margin-bottom: $mb;
  background: linear-gradient($-Fondo-blanco, $-Fondo-claro);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.tittle-3 {
  margin-bottom: $mb-medium;
  font-family: $-texto-cuerpo;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: linear-gradient($-Texto, $-Fondo-blanco);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: $mb-medium;
}

.tittle__2 {
  color: rgba($-Titulos , .8);
  font-size: 2rem;
  letter-spacing: .2rem;
  font-family: $-texto-cuerpo;
  font-weight: 600;
}

.tittle-4 {
  font-family: $-texto-cuerpo;
  font-weight: 400;
  font-size: 1.6rem;
  padding-top: .8rem;
  color: rgba($-Texto , .7);
  letter-spacing: .2rem;
}